body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    font-style: normal;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

.page {
    width: 100%;
    max-width: 860px;
}

@keyframes color-change {
    0% { color: #121212}
    25% { color: rgba(18, 18, 18, .6) }
    50% { color: rgba(18, 18, 18, .2) }
    75% { color: rgba(18, 18, 18, .6) }
    100% { color: #121212}
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loader-background);
}

.loader-element {
    animation: color-change 1.5s infinite;
    font-size: 24px;
    font-weight: 600;
}

.root__container {
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    min-height: 100vh;
}

:root {
    --black: #121212;
    --white: #fafafa;
    --loader-background: rgba(196, 195, 195, 0.45);
}
