body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    font-style: normal;
    color: var(--black);
    background-color: var(--white);
    margin: 0;
}

.page {
    width: 100%;
    max-width: 860px;
}

.root__container {
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    min-height: 100vh;
}

:root {
    --black: #121212;
    --white: #fafafa;
}
